<% provide(:title, 'Help') %>


<h1> Help</h1>
<p>
  This is the help page
  <a href="http://railstutorial.org/help">Ruby on Rails Tutorial help page</a>.
  <a href="http://railstutorial.org/book">Ruby on Rails Tutorial book</a>.
</p>

